<header>
	<div class="skin-wmau-container">
		<h1 id="sitename">
			<a href="{{url-mainpage}}" title="{{msg-sitetitle}}">
				{{#data-logos}}
					{{#wordmark}}
						<img src="{{src}}" width="{{width}}" height="{{height}}" alt="{{msg-logo-wordmark-alt}}" />
					{{/wordmark}}
					{{^wordmark}}
						{{msg-sitetitle}}
					{{/wordmark}}
				{{/data-logos}}
			</a>
		</h1>
		<nav>
			<ul class="skin-wmau-list-horizontal">
				{{#array-header-menu}}
					{{{.}}}
				{{/array-header-menu}}
			</ul>
			{{#data-search-box}}
				<form action="{{form-action}}" id="searchform">
					<div class="skin-wmau-searchform-inner">
						<input type="hidden" name="title" value="{{page-title}}" />
						{{{html-input}}}
						{{{html-button-search}}}
					</div>
				</form>
			{{/data-search-box}}
		</nav>
	</div>
</header>

{{{html-site-notice}}}

{{#is-user-registered}}
	<aside class="skin-wmau-action-drawer">
		<ul>
			<li class="skin-wmau-feathericons-tool"><span>{{msg-toolbox}}</span></li>
			{{#array-tools}}
				{{{li}}}
			{{/array-tools}}
		</ul>
	</aside>
{{/is-user-registered}}

<article class="mw-body skin-wmau-container">

	{{#data-subject-page}}{{>icon-link}}{{/data-subject-page}}

	{{#page-title}}
		<h1 class="skin-wmau-title firstHeading">
			{{#url}}<a href="{{.}}">{{/url}}
				{{#ns}}<span class="skin-wmau-title-ns">{{.}}</span>{{/ns}}
				<span class="skin-wmau-title-text">{{text}}</span>
			{{#url}}</a>{{/url}}
		</h1>
	{{/page-title}}

	{{{html-subtitle}}}

	{{{html-body-content}}}

	{{{html-after-content}}}

	{{#data-talk-page}}{{>icon-link}}{{/data-talk-page}}

</article>

<footer>
	<div class="skin-wmau-container">
		<section class="skin-wmau-footer-top">
			<div class="skin-wmau-wordmark">
				{{#data-logos}}
					{{#wordmark}}
						<img src="{{src}}" width="{{width}}" height="{{height}}" alt="{{msg-logo-wordmark-alt}}" />
					{{/wordmark}}
				{{/data-logos}}
			</div>
			<div class="skin-wmau-footer-blurb">{{{html-footer-blurb}}}</div>
		</section>
		<ul class="skin-wmau-list-horizontal skin-wmau-footer-menu">
			{{#array-footer-menu}}
				{{{.}}}
			{{/array-footer-menu}}
		</ul>
		<div class="skin-wmau-retrievedfrom">{{{html-retrievedfrom}}}</div>
	</div>
</footer>
